<div class="app-quantity" i18n>{ (objectivesViewsData|async).length, plural, =0 { no objectives views defined } =1 { 1 objectives view defined } other {# objectives views defined } }</div>
<md-card class="app-card-content" *ngIf="(objectivesViewsData | async)?.length">
  <md-card-content>
    <md-nav-list>
      <md-list-item *ngFor="let objectivesViews of objectivesViewsData | async" routerLinkActive="active"
        [class.selected]="objectivesViews.obv_id == (selectedId | async)" routerLink="/admin/objectives-views/{{objectivesViews.obv_id}}">
        <h3 class="mod-sidenav" md-line> {{objectivesViews.obv_name}} </h3>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>
