<!--<select (change)="onSelectChange($event.target.options)">
  <option *ngIf="!filtered" value="" disabled>{{selectString}}</option>
  <option *ngIf="filtered" value="" disabled>{{elementsShown.length}} result(s) found</option>
  <template ngFor let-e [ngForOf]="elementsShown">
    <option [selected]="isSelected(dos.dos_id)" *ngFor="let dos of dosList" [value]="dos.dos_id">{{dos.dos_firstname}} {{dos.dos_lastname}}</option>
  </template>
</select>
<div class="inputline">
  <md-input-container>
  <input md-input type="text" [placeholder]="placeholderString" [value]="" [formControl]="elementInputCtrl">
    <span style="cursor: pointer" md-suffix (click)="emptyInputSearch($event)">x</span>
  </md-input-container>
  <button md-raised-button (click)="addElement($event)" i18n>Add</button>
</div>-->

    
