span.chips { 
  display: inline-flex; 
  height: 32px; 
  line-height: 32px; 
  padding: 0;
  margin: 0 8px 0 0;
  font-size: 13sp; 
  color: rgb(0, 0, 0, 0.87); 
  border-radius: 16px;
  background-color: #ddd; 
}
span.text {
  padding: 0 12px 0 12px;
}
