<md-nav-list>

  <md-list-item routerLink="/account/notes" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>mail_outline</md-icon>
    <a class="mod-sidenav" md-line>Notes</a>
  </md-list-item>

  <md-list-item routerLink="/account/profile" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>account_circle</md-icon>
    <a class="mod-sidenav" md-line>Profile</a>
  </md-list-item>

  <md-list-item routerLink="/account/procedures" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>list</md-icon>
    <a class="mod-sidenav" md-line>Procedures</a>
  </md-list-item>

</md-nav-list>