<md-nav-list>

  <md-list-item routerLink="/account/profile" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>account_circle</md-icon>
    <a class="mod-sidenav" md-line>My Account</a>
  </md-list-item>

  <md-list-item routerLink="/account/dossiers" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>group</md-icon>
    <a class="mod-sidenav" md-line>Dossiers</a>
  </md-list-item>

  <md-list-item routerLink="/account/events" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>event</md-icon>
    <a class="mod-sidenav" md-line>Agenda</a>
  </md-list-item>

  <md-list-item routerLink="/account/documents" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>attach_file</md-icon>
    <a class="mod-sidenav" md-line>Documents</a>
  </md-list-item>

  <md-list-item routerLink="/account/notes" routerLinkActive="active">
    <md-icon class="mod-sidenav" md-list-icon>mail_outline</md-icon>
    <a class="mod-sidenav" md-line>Notes</a>
  </md-list-item>

</md-nav-list>