<md-toolbar i18n>Administrative situation
  <span class="app-fill-remaining-space"></span>
  <md-button-toggle (change)="filtering = !filtering" [checked]="filtering"><md-icon>filter_list</md-icon></md-button-toggle>
</md-toolbar>

<div class="tools" *ngIf="filtering">
  <app-dossier-situation-filter [organizations]="orgs"></app-dossier-situation-filter>
</div>

<md-card class="app-card-content">
  <md-list>
    <md-list-item [ngClass]="{'current': !status.dst_end, 'ended': status.dst_end }" *ngFor="let status of statuses | async">
      <h3 class="decorable" *ngIf="!status.dst_end" md-line i18n>
        {status.dst_value, select, preadmission {Pre-admission} admission {Admission} present {Present} left {Left}} since {{status.dst_start}}
      </h3>
      <h3 class="decorable" *ngIf="status.dst_end" md-line i18n>
        {status.dst_value, select, preadmission {Pre-admission} admission {Admission} present {Present} left {Left}} from {{status.dst_start}}
        to {{status.dst_end}}
      </h3>
      <p class="decorable" md-line>{{status.org_name}}</p>
    </md-list-item>
  </md-list>
</md-card>
