<md-card class="app-card-content">
  <md-card-title *ngIf="creatingNew">New Topic</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input placeholder="name" formControlName="name"></md-input>
      <md-input placeholder="description" formControlName="description" class="app-fullwidth"></md-input>

      <app-select-icon family="topics" formControlName="icon"></app-select-icon>
      <app-select-color formControlName="color"></app-select-color>

      <div class="app-info" *ngIf="pleaseSave">Please save or cancel before leaving...</div>
      <app-error-msg [msg]="errorMsg" [details]="errorDetails"></app-error-msg>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="button" color="warn" *ngIf="!creatingNew" (click)="doDelete()">Delete</button>
      <button md-button type="button" (click)="doCancel()">Cancel</button>
      <button md-raised-button color="primary" style="submit" [disabled]="!form.valid">Save</button>
    </md-card-actions>
  </form>
</md-card>
