<div [class]="theme ? 'dark-theme' : 'user-theme'">
  <md-toolbar color="primary" class="app-toolbar">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button> Variation
    <span class="app-fill-remaining-space"></span>

    <template [ngIf]="isUser()">
      <button md-button routerLinkActive="highlightButton" routerLink="/main">Dossiers</button>
      <button md-button routerLinkActive="highlightButton" routerLink="/contacts">Contacts</button>
      <button md-button routerLinkActive="highlightButton" routerLink="/reservations">Reservations</button>
      <button md-button routerLinkActive="highlightButton" routerLink="/account" i18n>My Desk</button>
    </template>

    <button *ngIf="isAdmin()" md-button routerLinkActive="highlightButton" routerLink="/admin" i18n>Admin</button>

    <button (click)="onLogout()" md-icon-button><md-icon>exit_to_app</md-icon></button>

  </md-toolbar>
  <md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened>
      <div class="app-belowtoolbar">
        <router-outlet name="userinfo"></router-outlet>
        <router-outlet name="sidenav"></router-outlet>
      </div>
    </md-sidenav>
    <div class="app-belowtoolbar">
      <router-outlet></router-outlet>
    </div>
  </md-sidenav-container>
</div>
