.tab-notes {
    display: inline-flex;
    flex-wrap: wrap;
}

.note-card {
    /*flex-basis: 20%;
    flex-grow: 1;*/
    width: 100%;
    padding: 15px;
    margin: 15px;
}

.enum-item:not(:last-child):after {
    content: ' - ';
  }