<md-nav-list>
  <h3 md-subheader i18n>Organization</h3>

  <md-list-item *ngIf="user.hasRight('organization')" routerLinkActive="active" routerLink="topics">
    <md-icon class="mod-sidenav" md-list-icon>folder</md-icon>
    <a class="mod-sidenav" md-line i18n>Topics</a>
  </md-list-item>
  
  <md-list-item *ngIf="user.hasRight('structure')" routerLinkActive="active" routerLink="portals">
    <md-icon class="mod-sidenav" md-list-icon>desktop_windows</md-icon>
    <a class="mod-sidenav" md-line i18n>Portals</a>
  </md-list-item>

  <md-list-item *ngIf="user.hasRight('organization')" routerLinkActive="active" routerLink="organs">
    <md-icon class="mod-sidenav" md-list-icon>home</md-icon>
    <a class="mod-sidenav" md-line i18n>Organizations</a>
  </md-list-item>

  <md-list-item *ngIf="user.hasRight('organization')" routerLinkActive="active" routerLink="groups">
    <md-icon class="mod-sidenav" md-list-icon>group_work</md-icon>
    <a class="mod-sidenav" md-line i18n>Groups</a>
  </md-list-item>

  <h3 md-subheader i18n>Settings</h3>

  <md-list-item routerLinkActive="active" routerLink="events-types">
    <md-icon class="mod-sidenav" md-list-icon>date_range</md-icon>
    <a class="mod-sidenav" md-line i18n>Events types</a>
  </md-list-item>
  
  <md-list-item routerLinkActive="active" routerLink="documents-types">
    <md-icon class="mod-sidenav" md-list-icon>book</md-icon>
    <a class="mod-sidenav" md-line i18n>Documents types</a>
  </md-list-item>
  

  <template [ngIf]="user.hasRight('users')">
  <h3 md-subheader i18n>Users</h3>

  <md-list-item routerLinkActive="active" routerLink="usergroups">
    <md-icon class="mod-sidenav" md-list-icon>group</md-icon>
    <a class="mod-sidenav" md-line i18n>Usergroups</a>
  </md-list-item>

  <md-list-item routerLinkActive="active" routerLink="users">
    <md-icon class="mod-sidenav" md-list-icon>person</md-icon>
    <a class="mod-sidenav" md-line i18n>Users</a>
  </md-list-item>
  </template>

  <template [ngIf]="user.hasRight('structure')">
    <h3 md-subheader i18n>Portals Views</h3>

    <md-list-item routerLinkActive="active" routerLink="events-views">
      <md-icon class="mod-sidenav" md-list-icon>event</md-icon>
      <a class="mod-sidenav" md-line i18n>Events</a>
    </md-list-item>

    <md-list-item routerLinkActive="active" routerLink="documents-views">
      <md-icon class="mod-sidenav" md-list-icon>description</md-icon>
      <a class="mod-sidenav" md-line i18n>Documents</a>
    </md-list-item>

    <md-list-item routerLinkActive="active" routerLink="notes-views">
      <md-icon class="mod-sidenav" md-list-icon>attach_file</md-icon>
      <a class="mod-sidenav" md-line i18n>Notes</a>
    </md-list-item>

    <md-list-item routerLinkActive="active" routerLink="resources-views">
      <md-icon class="mod-sidenav" md-list-icon>videocam</md-icon>
      <a class="mod-sidenav" md-line i18n>Resources</a>
    </md-list-item>

    <md-list-item routerLinkActive="active" routerLink="objectives-views">
      <md-icon class="mod-sidenav" md-list-icon>my_location</md-icon>
      <a class="mod-sidenav" md-line i18n>Objectives</a>
    </md-list-item>

    <md-list-item routerLinkActive="active" routerLink="lists-views">
      <md-icon class="mod-sidenav" md-list-icon>list</md-icon>
      <a class="mod-sidenav" md-line i18n>Lists</a>
    </md-list-item>
    
  </template>
</md-nav-list>