span.chips { 
  display: inline-flex; 
  height: 24px; 
  line-height: 24px; 
  padding: 0;
  margin: 0 8px 0 0;
  font-size: 10sp; 
  color: rgb(0, 0, 0, 0.87); 
  border-radius: 12px; 
}
span.image { 
  background-color: white; 
  border-radius: 12px; 
  width: 24px; height: 24px;
  overflow: hidden; 
}
span.text {
  padding: 0 10px 0 6px;
}
img { 
  background-color: #fff;
}
