<md-card class="app-card-content">
  <md-card-title *ngIf="!id">New note</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <div class="selcontainer">
        <md-input-container>
          <input md-input #getfocus placeholder="Object" formControlName="object">
        </md-input-container>
      </div>

      <div *ngIf="!id" class="selcontainer">
        <input type="radio" formControlName="noteType" value="dossier" id="ntDossier"><label for="ntDossier">Note related to dossier(s)</label>
        <input type="radio" formControlName="noteType" value="other" (change)="removeTopDos()" id="ntOther"><label for="ntOther">Other</label>
      </div>

      <div *ngIf="isNoteDossier()">
        <div class="selcontainer">
          <fieldset class="selector">
            <legend i18n>Topics</legend>
            <app-select-generic *ngIf="viewTopics?.length > 0" [elements]="viewTopics" placeholderString="Filter topics" selectString="Select a topic"
              formControlName="topics">
            </app-select-generic>
          </fieldset>
        </div>

        <div class="selcontainer">
          <fieldset class="selector">
            <legend>Dossiers</legend>
            <app-select-generic *ngIf="dossiersList?.length > 0" [elements]="dossiersList" placeholderString="Filter dossiers" selectString="Select a dossier"
              formControlName="dossiers">
            </app-select-generic>
          </fieldset>
        </div>

        <div class="selcontainer">
          <md-input-container>
            <input md-input placeholder="event date" formControlName="eventDate">
          </md-input-container>
        </div>
      </div>

      <div class="selcontainer">
        <textarea mdInput placeholder="Note content" formControlName="content" class="app-fullwidth"></textarea>
      </div>

      <div class="selcontainer">
        <div class="selector component">
          <label>Recipient(s) for information</label>
          <app-select-participant formControlName="rcptInfo" [multiple]="true"></app-select-participant>
        </div>

        <div class="selector component">
          <label>Recipient(s) for action</label>
          <app-select-participant formControlName="rcptAct" [multiple]="true"></app-select-participant>
        </div>
      </div>

			<!--<div class="app-info" *ngIf="pleaseSave" i18n>Please save or cancel before leaving...</div>-->
      <app-form-leave *ngIf="pleaseSave" [form]="form" (formLeave)="formLeave($event)"></app-form-leave>
			<app-error-msg [msg]="errorMsg" [details]="errorDetails"></app-error-msg>
    </md-card-content>
		<md-card-actions align="end">
			<button md-button type="button" color="warn" *ngIf="id" (click)="doDelete()" i18n>Delete</button>
			<button md-button type="button" (click)="doReset()" [disabled]="form.pristine" i18n>Reset</button>
			<button md-button type="button" (click)="doCancel()" i18n>Cancel</button>
			<button md-raised-button color="primary" style="submit" [disabled]="!form.valid || form.pristine" i18n>Save</button>
		</md-card-actions>
  </form>
</md-card>