<md-card class="app-card-content" *ngFor="let user of usersData | async" [class.selected]="isSelected(user)">
  <md-card-subtitle *ngIf="user.ugr_id > 0">{{user.ugr_name}}</md-card-subtitle>
  <md-card-subtitle *ngIf="user.ugr_id == 0"><i>admin only</i></md-card-subtitle>

  <md-card-title *ngIf="user.par_id > 0">{{user.par_firstname}} {{user.par_lastname}}</md-card-title>
  <md-card-title *ngIf="user.par_id == 0"><i>unknown user</i></md-card-title>

  <md-card-content>
    <ul>
      <li>login: {{user.usr_login}}</li>
      <li *ngIf="user.usr_rights">admin rights:
        <app-user-right *ngFor="let right of user.usr_rights" [right]="right"></app-user-right>
      </li>
    </ul>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button type="button" routerLinkActive="active" routerLink="/admin/users/{{user.usr_login}}">Edit</button>
  </md-card-actions>
</md-card>
