<md-card class="app-card-content-with-toolbar">
  <md-toolbar>{{dossier.dos_firstname}} {{dossier.dos_lastname}} {{genderSymbol(dossier.dos_gender)}}</md-toolbar>
  <md-list>
    <md-list-item>
      <h3 md-line> {{dossier.dos_lastname}} {{dossier.dos_firstname}}</h3>
      <p md-line>
        <span class="grp" *ngFor="let assignment of assignments | async">{{assignment.grp_name}}</span>
      </p>
      <p md-line>
        <span class="status" *ngFor="let status of statuses | async">{{status.org_name}}: {{status.dst_value}}</span>
      </p>
    </md-list-item>
  </md-list>
</md-card>