<md-card class="app-card-content">
  <md-card-title *ngIf="creatingNew" i18n>New User</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Login" formControlName="login">
      </md-input-container>
      <div *ngIf="tempPass">
        <a *ngIf="!showTempPass" md-button (click)="toggleTemporaryPassword()" i18n>Show temporary password</a>
        <a *ngIf="showTempPass" md-button (click)="toggleTemporaryPassword()" i18n>Hide temporary password</a>
        <span *ngIf="showTempPass">: {{tempPassword}}</span>
      </div>
      <fieldset class="selector">
        <legend i18n>User rights</legend>
        <input type="checkbox" [formControl]="structureCtrl" value="structure" (change)="updateUserRights($event)" i18n>Structure
        <input type="checkbox" [formControl]="organizationCtrl" value="organization" (change)="updateUserRights($event)" i18n>Organization
        <input type="checkbox" [formControl]="usersCtrl" value="users" (change)="updateUserRights($event)" i18n>Users
      </fieldset>

      <fieldset class="selector">
        <legend i18n>Usergroup</legend>
        <select formControlName="usergroup">
          <option value="" disabled i18n>Choose an usergroup</option>
          <option value="-1" i18n>None (user admin)</option>
          <option *ngFor="let ugr of usergroupsData" value="{{ugr.ugr_id}}">{{ugr.ugr_name}}</option>
        </select>
      </fieldset>

      <fieldset class="selector">
        <legend i18n>Participant</legend>
        <app-select-participant formControlName="participant"></app-select-participant>
      </fieldset>

      <div class="app-info" *ngIf="pleaseSave" i18n>Please save or cancel before leaving...</div>
      <app-error-msg [msg]="errorMsg" [details]="errorDetails"></app-error-msg>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="button" color="warn" *ngIf="!creatingNew" (click)="doDelete()" i18n>Delete</button>
      <button md-button type="button" (click)="doCancel()" i18n>Cancel</button>
      <button md-raised-button color="primary" style="submit" [disabled]="!form.valid" i18n>Save</button>
    </md-card-actions>
  </form>
</md-card>

<app-users-list></app-users-list>
