<md-card class="app-card-content-with-toolbar">
  <md-toolbar>{{dossier.dos_firstname}} {{dossier.dos_lastname}} {{genderSymbol(dossier.dos_gender)}}<md-icon [mdTooltip]="dossier.dos_referee_functions" *ngIf="dossier.dos_referee_functions">star</md-icon></md-toolbar>
  <md-list>
    <md-list-item>
      <p *ngIf="!dossier.dos_external" md-line>
        <span class="grp" *ngFor="let assignment of assignments | async">{{assignment.grp_name}}</span>
      </p>
      <p *ngIf="!dossier.dos_external" md-line>
        <span class="status" *ngFor="let status of statuses | async">{{status.org_name}}: {{status.dst_value}}</span>
      </p>
    </md-list-item>
  </md-list>
</md-card>
