.calendar-header {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.calendar-header-part {
    flex-grow: 1;
    text-align: center;
    flex-basis: calc(100%/3);
}

.open-day-container {
    margin: -15px;
}

.oday-event {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.oday-event:not(:last-child) {
    border-bottom: 1px solid lightgrey;
}

.event-type-chip {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 2px;
}

.oday-event span {
    margin-right: 10px;
    cursor: pointer;
}

.cal-week-event {
    padding-right: 10px;
    font-size: 12px;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.event-topics-title {
    display: inline-flex;
}

.topic-color {
    width: 10px;
}

.topic-color:first-child {
    border-radius: 5px 0 0 5px;
}

.cal-event-title {
    margin-left: 10px;
    cursor: pointer;
}