<md-toolbar class="content-toolbar">{{ viewTitle }}
    <span class="app-fill-remaining-space"></span>
    <button md-button type="button" (click)="openDocumentForm()">Add new document</button>
</md-toolbar>

<div class="mod-list">
  <h3><span *ngFor="let topic of viewTopics" class="enum-item">{{topic.top_name}}</span></h3>
  <div class="loading">
    <md-progress-bar *ngIf="!viewTopics" mode="indeterminate"></md-progress-bar>
    <span *ngIf="totalDocuments">{{ totalDocuments }}</span>
  </div>

  <md-tab-group [(selectedIndex)]="selectedTab" (selectChange)="onTabChange($event)">

    <md-tab label="Available">
      <div *ngIf="documentsAvailable?.length == 0" i18n>No documents available</div>
      <md-card class="app-card-content" *ngFor="let document of documentsAvailable">
        <md-card-subtitle>{{ document.dty_name }}</md-card-subtitle>
        <md-card-title>{{ document.doc_title }}</md-card-title>
        <md-card-content>
          <p><span *ngFor="let dossier of document.dossiers" class="enum-item">{{ dossier.dos_firstname }} {{ dossier.dos_lastname }}</span></p>
          <app-topic-label *ngFor="let topic of document.topics" [topic]="topic"></app-topic-label>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button type="button" (click)="openDocumentForm(document.doc_id)" i18n>Edit</button>
        </md-card-actions>
      </md-card>
    </md-tab>

    <md-tab label="Scheduled">
      <div *ngIf="documentsScheduled?.length == 0" i18n>No documents scheduled</div>
      <md-card class="app-card-content" *ngFor="let document of documentsScheduled">
        <md-card-subtitle>{{ document.dty_name }}</md-card-subtitle>
        <md-card-title>{{ document.doc_title }}</md-card-title>
        <md-card-content>
          <p><span *ngFor="let dossier of document.dossiers" class="enum-item">{{ dossier.dos_firstname }} {{ dossier.dos_lastname }}</span></p>
          <app-topic-label *ngFor="let topic of document.topics" [topic]="topic"></app-topic-label>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button type="button" (click)="openDocumentForm(document.doc_id)" i18n>Edit</button>
        </md-card-actions>
      </md-card>
    </md-tab>

    <md-tab label="In progress">
      <div *ngIf="documentsInProgress?.length == 0" i18n>No documents in progress</div>
      <md-card class="app-card-content" *ngFor="let document of documentsInProgress">
        <md-card-subtitle>{{ document.dty_name }}</md-card-subtitle>
        <md-card-title>{{ document.doc_title }}</md-card-title>
        <md-card-content>
          <p><span *ngFor="let dossier of document.dossiers" class="enum-item">{{ dossier.dos_firstname }} {{ dossier.dos_lastname }}</span></p>
          <app-topic-label *ngFor="let topic of document.topics" [topic]="topic"></app-topic-label>
        </md-card-content>
        <md-card-actions>
          <button md-raised-button type="button" (click)="openDocumentForm(document.doc_id)" i18n>Edit</button>
        </md-card-actions>
      </md-card>
    </md-tab>

  </md-tab-group>
</div>
