.enum-item:not(:last-child):after {
    content: ' - ';
}

.toolbar-titled {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.toolbar-subtitle {
    font-size: 0.75em;
    color: rgba(255, 255, 255, 0.75);
}