<md-toolbar class="content-toolbar">{{ viewTitle }}
    <span class="app-fill-remaining-space"></span>
    <button (click)="openEventForm()" md-button>Add new event</button>
</md-toolbar>

<div class="mod-list">
  <div>
    <button md-button [class.selected-display]="eventsDisplay === 'calendar'" (click)="eventsDisplay = 'calendar'">Calendar</button>
    <button md-button [class.selected-display]="eventsDisplay === 'list'" (click)="eventsDisplay = 'list'">List</button>
    <button md-button [class.selected-display]="eventsDisplay === 'report'" (click)="eventsDisplay = 'report'">Report</button>
  </div>

  <h3><span *ngFor="let topic of viewTopics" class="enum-item">{{topic.top_name}}</span></h3>
  <div class="loading">
    <md-progress-bar *ngIf="!viewTopics" mode="indeterminate"></md-progress-bar>
    <span *ngIf="events" i18n>{events.length, plural, =0 {no events} =1 {1 event} other {# events}}</span>
  </div>

  <app-events-calendar *ngIf="eventsDisplay === 'calendar'" [eventsList]="events"
    (openForm)="openEventForm($event)" (deleteEvent)="deleteEvent($event)"></app-events-calendar>
  <app-events-list *ngIf="eventsDisplay === 'list'" [events]="events" [focusOnEvent]="focusedEvent"
    (openForm)="openEventForm($event)" (changeFocus)="toggleFocus($event)"></app-events-list>
  <app-events-report *ngIf="eventsDisplay === 'report'" [view]="contentId" [dossier]="dossier" [dossierReports]="true"></app-events-report>
</div>
