<md-nav-list>
  <h3 md-subheader i18n>Organization</h3>

  <md-list-item routerLinkActive="active" routerLink="topics">
    <md-icon class="mod-sidenav" md-list-icon>folder</md-icon>
    <a class="mod-sidenav" md-line i18n>Topics</a>
  </md-list-item>
  
  <md-list-item routerLinkActive="active" routerLink="portals">
    <md-icon class="mod-sidenav" md-list-icon>desktop_windows</md-icon>
    <a class="mod-sidenav" md-line i18n>Portals</a>
  </md-list-item>

  <md-list-item  routerLinkActive="active" routerLink="organs">
    <md-icon class="mod-sidenav" md-list-icon>home</md-icon>
    <a class="mod-sidenav" md-line i18n>Organizations</a>
  </md-list-item>

  <md-list-item routerLinkActive="active" routerLink="groups">
    <md-icon class="mod-sidenav" md-list-icon>group_work</md-icon>
    <a class="mod-sidenav" md-line i18n>Groups</a>
  </md-list-item>

  <h3 md-subheader i18n>Settings</h3>

  <md-list-item routerLinkActive="active" routerLink="events-types">
    <md-icon class="mod-sidenav" md-list-icon>date_range</md-icon>
    <a class="mod-sidenav" md-line i18n>Events types</a>
  </md-list-item>
  
  <md-list-item routerLinkActive="active" routerLink="documents-types">
    <md-icon class="mod-sidenav" md-list-icon>book</md-icon>
    <a class="mod-sidenav" md-line i18n>Documents types</a>
  </md-list-item>
  
</md-nav-list>
