<div class="main">
  <md-card *ngIf="!inDemo || loginCtrl.value != ''">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <md-toolbar color="primary" i18n="Login page title">Login</md-toolbar>
      <md-card-content>
        <md-input placeholder="login" formControlName="login" i18n-placeholder="login input">
          <span *ngIf="inDemo && loginCtrl.value != ''" style="cursor: pointer" md-suffix (click)="resetLoginField($event)">x</span>
        </md-input>
        <md-input type="password" placeholder="password" formControlName="password" i18n-placeholder="password input"></md-input>
        <div *ngIf="invalidLogin" class="alert" i18n="Login page Message when login error">Invalid login</div>
      </md-card-content>
      <md-card-actions align="end">
        <button md-button color="primary" style="submit" [disabled]="!form.valid" i18n="login page connect button">Connect</button>
      </md-card-actions>
    </form>
  </md-card>
  <md-card *ngIf="inDemo && loginCtrl.value == ''">
    <md-toolbar color="primary" i18n="demo login title">Users list</md-toolbar>
    <md-nav-list class="userslist">
      <template ngFor let-ugr [ngForOf]="userList">
        <h3 md-subheader *ngIf="ugr.ugr_name !== null">{{ugr.ugr_name}}</h3>
        <h3 md-subheader *ngIf="ugr.ugr_name === null">Admin group</h3>
        <md-list-item *ngFor="let u of ugr.usr_login" (click)="setLogin(u)" class="user-item">
          <span>{{u}}</span>
        </md-list-item>
      </template>
    </md-nav-list>
  </md-card>
  <div class="langs">
    <a href="/de/">deutsch</a> &nbsp;
    <a href="/en/">english</a> &nbsp;
    <a href="/fr/">français</a>
  </div>
</div>