.main { width: 320px; margin: 100px auto; }

.langs { text-align: center; font-size: smaller; }
.langs a { color: #888; }
.langs a.active { color: #666; text-decoration: none; }

md-card { width: 320px; padding: 0; }

md-card-content { padding: 24px 24px 0 24px; }

md-card-actions { padding: 0 24px 24px 24px; }

md-input { width: 100%; }

.alert { color: #F44336; }

.demo-block { text-align: center; margin-top: 10px; }
.demo-block ul { text-align: initial; }

.user-item:hover { cursor: pointer; }