<div class="toolbar">
  <div class="app-fill-remaining-space"></div>
  <md-slide-toggle [checked]="isTabular" (change)="setTabular($event.checked)" i18n>Tabular</md-slide-toggle>
</div>

<div class="app-quantity" i18n>{ (documentsTypesData|async).documentsTypes.length, plural, =0 { no documents types defined } =1 { 1 document type defined } other {# documents types defined } }</div>

<div *ngIf="!isTabular && (documentsTypesData | async)?.documentsTypes.length">
  <md-card class="app-card-content"
           *ngFor="let documentsTypes of (documentsTypesData | async).documentsTypes" 
           routerLinkActive="active" 
           [class.selected]="documentsTypes.documentType.dty_id == (selectedId | async)"
           [routerLink]="['/admin/documents-types', documentsTypes.documentType.dty_id ]" 
           preserveQueryParams>
    <md-card-title>{{documentsTypes.documentType.dty_name}}</md-card-title>
    <md-card-content>
        <div class="mod-sidenav chips-container">
          <app-topic-label class="chips" *ngFor="let topic of documentsTypes.topics" [topic]="topic"></app-topic-label>
        </div><br>
        <div class="mod-sidenav chips-container">
          <app-organ-label class="chips" *ngFor="let organ of documentsTypes.organizations" [organ]="organ"></app-organ-label>
        </div>
    </md-card-content>
    </md-card>
</div>

<div *ngIf="isTabular">
<md-card class="app-card-content">
  <md-card-content>
    <ag-grid-angular
      #agGrid style="width: 100%"
      [style.height.px]="gridHeight" 
      class="ag-material" 
      [headerHeight]="headerHeight" 
      [rowHeight]="rowHeight"
      [gridOptions]="gridOptions" 
      [columnDefs]="columnDefs" 
      [rowData]="rowData"></ag-grid-angular>
  </md-card-content>
</md-card>
