<span *ngFor="let val of valuesList | async">
  <input 
    type="checkbox" 
    id="val{{val}}" 
    [value]="val" 
    [checked]="value && value.indexOf(val) > -1" 
    (change)="onCheckboxChange($event)">
  <label attr.for="val{{val}}">{dbenum, select, 
            events/event_category {{
              val, select, 
              incident {Incident}
              expense {Expense} 
              meeting {Meeting}
              absence {Absence} 
              other {{{val}}}
            }}
            other {/{{val}}/}
          }</label>
</span>
