<md-card class="app-card-content">
  <md-card-title *ngIf="!id" i18n>New group</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <input mdInput #getfocus i18n-placeholder placeholder="name" formControlName="name">
      </md-input-container>
      <md-input-container class="app-fullwidth">
        <input mdInput i18n-placeholder placeholder="description" formControlName="description">
      </md-input-container>
      <select formControlName="organization">
        <option value="" disabled i18n>Select an organization</option>
        <option *ngFor="let organ of organizationList"
          [selected]="organ.org_id === organizationCtrl.value" value="{{organ.org_id}}">{{organ.org_name}}</option>
      </select>
      <md-checkbox [indeterminate]="mandatoryCtrl.value === ''" formControlName="mandatory" class="cb-mandatory" i18n>Mandatory</md-checkbox>

      <md-radio-group formControlName="orientation">
        <md-radio-button value="organization" i18n>Organization</md-radio-button>
        <md-radio-button value="participant" i18n>Participant</md-radio-button>
      </md-radio-group>

      <fieldset class="selector">
        <legend i18n>Topics</legend>
        <app-select-generic *ngIf="topicList.length > 0" [elements]="topicList" [placeholderString]="'Filter topics'" [selectString]="'Select a topic'"
          formControlName="topics"></app-select-generic>
      </fieldset>

      <div class="app-info" *ngIf="pleaseSave" i18n>Please save or cancel before leaving...</div>
      <app-error-msg [msg]="errorMsg" [details]="errorDetails"></app-error-msg>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="button" color="warn" *ngIf="id" (click)="doDelete()" i18n>Delete</button>
      <button md-button type="button" (click)="doReset()" [disabled]="form.pristine" i18n>Reset</button>
      <button md-button type="button" (click)="doCancel()" i18n>Cancel</button>
      <button md-raised-button color="primary" style="submit" [disabled]="!form.valid || form.pristine" i18n>Save</button>
    </md-card-actions>
  </form>
</md-card>