// base styles
body {  
  font-family: 'Roboto', sans-serif;
}

html, body, md-sidenav-container, .app-fullpage {
  margin: 0;
  width: 100%;
  height: 100%;
}

* { 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
