// Layout style

md-sidenav {
  width: 240px;
}

md-sidenav-layout { background-color: #eceff1; }
// The top toolbar
.app-toolbar { position: fixed; z-index: 2; box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3); }

// The second toolbar
.content-toolbar { 
  background-color: md-color($primary, 700);
  color: #fff; 
}

// This fills the remaining space, by using flexbox. 
// Every toolbar row uses a flexbox row layout.
.app-fill-remaining-space {
  flex: 1 1 auto;
}

// Elements directly below fixed toolbar
.app-belowtoolbar { margin-top: 64px; }

.app-fullwidth { width: 100%; }

.app-info { color: #E65100; }
.app-error { color: #F44336; }

md-card.app-card-content { margin: 16px; }

.app-quantity {
  margin: 16px; 
  opacity: 0.54; 
  font-size: small; 
}
