@import "~@angular/material/core/theming/all-theme";


// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($md-teal);
$accent:  md-palette($md-purple);
$theme: md-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);


.dark-theme {
    $primary: md-palette($md-blue-grey);
    $accent:  md-palette($md-amber, A200, A100, A400);
    $warn:    md-palette($md-deep-orange);

    $theme: md-dark-theme($primary, $accent, $warn);

    @include angular-material-theme($theme);
    
    //see sidenav.css and form.css  
}