@import "~@angular/material/core/theming/all-theme";

// Include non-theme styles for core.
@include md-core();

// Define a theme.
$primary: md-palette($md-teal);
$accent:  md-palette($md-purple);
$theme: md-light-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);

@mixin transition {
    *{
        transition:color 500ms ease-out; 
    }
} 
.user-theme{
    // Define a theme.
    $primary: md-palette($md-blue);
    $accent:  md-palette($md-purple);
    $theme: md-light-theme($primary, $accent);

    // Include all theme styles for the components.
    @include angular-material-theme($theme);
    
    .main.user-info{
        background-color: md-color($primary, 700);
    }
    
    .toolbar-subtitle {
        font-size: 0.75em;
        color:black;
    }
    md-nav-list .userinfo-title{
        color: #424242;
    }
    .hintText{
        opacity: 0.38;
    }
    .secondaryText{
        opacity: 0.54;
    }
    .primaryText{
        opacity: 0.87;
    }
    md-list-item.active {
        .mod-sidenav { color: md-color($accent); }
    }
    md-card.active { color: md-color($accent); }
    
    .highlightButton{
        opacity:0.8;
        background-color: md-color($primary, 300);
        color: md-color($accent);
        border-radius: 2px;
    }
}

.admin-theme{
    // Define a theme.
    $primary: md-palette($md-teal);
    $accent:  md-palette($md-purple);
    $theme: md-light-theme($primary, $accent);

    // Include all theme styles for the components.
    @include angular-material-theme($theme);
    .main.user-info{
        background-color: md-color($primary, 700);
    }
    .hintText{
        opacity: 0.38;
    }
    .secondaryText{
        opacity: 0.54;
    }
    .primaryText{
        opacity: 0.87;
    }
    md-list-item.active {
        .mod-sidenav { color: md-color($accent); }
    }
    md-card.active { color: md-color($accent); }
    
    .highlightButton{
        opacity:0.8;
        background-color: md-color($primary, 300);
        color: md-color($accent);
        border-radius: 2px;
    }
}

.dark-theme {
    $primary: md-palette($md-blue-grey);
    $accent:  md-palette($md-blue, 700);

    $theme: md-dark-theme($primary, $accent);

    @include angular-material-theme($theme);
    
    .main.user-info{
        background-color: md-color($primary, 700);
    }
    md-list-item md-icon,md-list-item a, md-list-item h3, md-list-item p{
        color: #fff;
    }
    md-nav-list .userinfo-title{
        color: #CFD8DC;
    }
    .mod-form label {
        color: #fff;
    }
    .toolbar-subtitle {
        color:white;
    }
    
    .hintText{
        opacity: 0.50;
    }
    .secondaryText{
        opacity: 0.70;
    }
    .primaryText{
        opacity: 1.00;
    }
    md-list-item.active {
        .mod-sidenav { color: md-color($accent); }
    }
    md-card.active { color: md-color($accent); }
    
    .highlightButton{
        opacity:0.8;
        background-color: md-color($primary, 300);
        color: md-color($accent);
        border-radius: 2px;
    }
}