<md-toolbar class="content-toolbar">Organizations</md-toolbar>

<md-card>
  <md-card-title>Internal</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let organ of organsInternalData | async">
        <h3 md-line> {{organ.org_name}} </h3>
        <p md-line> {{organ.org_description}} </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>

<md-card>
  <md-card-title>External</md-card-title>
  <md-card-content>
    <md-list>
      <md-list-item *ngFor="let organ of organsExternalData | async">
        <h3 md-line> {{organ.org_name}} </h3>
        <p md-line> {{organ.org_description}} </p>
      </md-list-item>
    </md-list>
  </md-card-content>
</md-card>