<md-toolbar>Usergroups</md-toolbar>

<md-card *ngFor="let usergroup of usergroupsData">
  <md-card-title>{{usergroup.usergroup.ugr_name}}</md-card-title>
  <md-card-subtitle>Authorized Groups</md-card-subtitle>
  <md-card-content>
    <ul *ngIf="usergroup.groups">
      <li *ngFor="let group of usergroup.groups">{{group.grp_name}}</li>
    </ul>
  </md-card-content>
  <md-card-subtitle>Authorized Portals</md-card-subtitle>
    <md-card-content>
      <ul *ngIf="usergroup.portals">
        <li *ngFor="let portal of usergroup.portals">{{portal.por_name}}</li>
      </ul>
    </md-card-content>
</md-card>