<div class="app-quantity" i18n>{ (portalsData|async).length, plural, =0 { no portals defined } =1 { 1 portal defined } other {# portals defined } }</div>
<md-card class="app-card-content" *ngIf="(portalsData | async)?.length">
  <md-card-content>
    <md-nav-list>
      <md-list-item *ngFor="let portal of portalsData | async" routerLinkActive="active" [class.selected]="portal.por_id == (selectedId | async)" routerLink="/admin/portals/{{portal.por_id}}">
        <h3 class="mod-sidenav" md-line>{{ portal.por_name }}</h3>
        <p class="mod-sidenav" md-line>{{ portal.por_description }}</p>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>