<div class="mod-list">
  <md-toolbar class="content-toolbar">{{ mainmenu?.mme_title }}</md-toolbar>

  <md-tab-group>

    <md-tab label="Patients">
      <h3>Dossiers</h3>
      <div class="loading">
        <md-progress-bar *ngIf="!dossiersPatientData" mode="indeterminate"></md-progress-bar>
        <span *ngIf="dossiersPatientData">{{dossiersPatientData.length}}<span> dossiers</span></span>
      </div>
      <ng-template ngFor let-dossier [ngForOf]="dossiersPatientData">
        <app-dossier-individual [dossier]="dossier"></app-dossier-individual>
      </ng-template>
    </md-tab>

    <md-tab label="Siblings">
      <h3>Dossiers</h3>
      <div class="loading">
        <md-progress-bar *ngIf="!dossiersFamilyData" mode="indeterminate"></md-progress-bar>
        <span *ngIf="dossiersFamilyData">{{dossiersFamilyData.length}}<span> dossiers</span></span>
      </div>
      <ng-template ngFor let-dossier [ngForOf]="dossiersFamilyData">
        <app-dossier-grouped [dossier]="dossier"></app-dossier-grouped>
      </ng-template>
    </md-tab>
  </md-tab-group>
</div>
