body {  
  margin: 0;  
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

md-sidenav {
  width: 240px;
}

// The top toolbar
.app-toolbar { position: fixed; z-index: 2; }

// This fills the remaining space, by using flexbox. 
// Every toolbar row uses a flexbox row layout.
.app-fill-remaining-space {
  flex: 1 1 auto;
}

// Elements directly below fixed toolbar
.app-belowtoolbar { margin-top: 64px; }

// The menu button
.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

// The menu icon in menu button
.app-icon-button {
  min-width: 0;
  height: auto;
  padding: 0;
  border: none;
  margin: 0;

  background: none;
  box-shadow: none;
  cursor: pointer;
  filter: none;

  font-weight: normal;
  line-height: inherit;
  text-align: left;
  text-decoration: none;
  user-select: none;
}
