<md-card class="app-card-content">
  <md-card-title *ngIf="!id" i18n>New Organization</md-card-title>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <md-card-content>
      <md-input-container>
        <input mdInput #getfocus i18n-placeholder placeholder="name" formControlName="name">
      </md-input-container>
      <md-input-container class="app-fullwidth">
        <input mdInput i18n-placeholder placeholder="description" formControlName="description">
      </md-input-container>
      <md-checkbox [indeterminate]="internalCtrl.value === null" formControlName="internal" class="cb-internal" i18n>Internal</md-checkbox>
      <div class="app-info" *ngIf="pleaseSave" i18n>Please save or cancel before leaving...</div>
      <app-error-msg [msg]="errorMsg" [details]="errorDetails"></app-error-msg>
    </md-card-content>
    <md-card-actions align="end">
      <button md-button type="button" color="warn" *ngIf="id" (click)="doDelete()" i18n>Delete</button>
      <button md-button type="button" (click)="doReset()" [disabled]="form.pristine" i18n>Reset</button>
      <button md-button type="button" (click)="doCancel()" i18n>Cancel</button>
      <button md-raised-button color="primary" style="submit" [disabled]="!form.valid || form.pristine" i18n>Save</button>
    </md-card-actions>
  </form>
</md-card>
