<select [formControl]="elementsCtrl" *ngIf="!(unique && elementsToSend.length == 1)">
    <option *ngIf="!filtered" value="" disabled>{{selectString}}</option>
    <option *ngIf="filtered" value="" disabled>{{elementsShown.length}} result(s) found</option>
    <ng-template ngFor let-e [ngForOf]="elementsShown">
      <option [disabled]="elementsToSend.indexOf(e.id) !== -1" [value]="e.id">{{e.name}}</option>
    </ng-template>
  </select>
<div class="inputline" *ngIf="!(unique && elementsToSend.length == 1)">
  <md-input-container>
  <input mdInput type="text" [placeholder]="placeholderString" [value]="" [formControl]="elementInputCtrl">
    <span style="cursor: pointer" md-suffix (click)="emptyInputSearch($event)" class="remove">x</span>
  </md-input-container>
  <button md-raised-button *ngIf="!(unique && elementsToSend.length == 1)" (click)="addElement($event)" i18n>Add</button>
</div>
<md-list dense>
  <md-list-item *ngFor="let e of elementsTemp; let i = index">
    <span md-line>{{e.name}}</span>
    <md-icon (click)="removeElement(i)">delete</md-icon>
  </md-list-item>
</md-list>