<div>
  <select [formControl]="elementsCtrl">
    <option *ngIf="!elementAutocomplete" value="" disabled>{{selectString}}</option>
    <option *ngIf="elementAutocomplete" value="" disabled>{{elementsShown.length}} result(s) found</option>
    <option *ngFor="let e of elementsShown" [value]="e.id">{{e.name}}</option>
  </select>
  <div class="inputline">
    <md-input type="text" [placeholder]="placeholderString" [value]="" [formControl]="elementInputCtrl">
        <span md-suffix (click)="emptyInputSearch($event)">x</span>
    </md-input>
    <button md-raised-button (click)="addElement($event)">Add</button>
  </div>
</div>
<div class="element-list">
  <ul>
    <li *ngFor="let e of elementsTemp; let i = index" (mouseenter)="elementdelete=i" (mouseleave)="elementdelete=-1">
      <div>{{e.name}}
        <span [hidden]="elementdelete !== i" (click)="removeElement(i)">Remove</span></div>
    </li>
  </ul>
</div>
<app-error-msg [msg]="errorMsg"></app-error-msg>