.element-list li {
    width: 70%;
}

.element-list li div {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.element-list li span {
    float:right;
    font-style: italic;
    font-size: 0.8em;
    padding-right: 5px;
    color: #f44336;
    cursor: pointer;
}

.element-list li:hover {
    background-color: whitesmoke;
}

.element-list li:hover span {
    display: block;
}

select { width: 100%; }

.inputline {
    display: flex; 
    align-items: baseline;
}

.inputline > md-input {
    flex-grow: 1; 
    margin-right: 16px; 
}

.inputline > button {
    flex-grow: 0; 
}