<app-events [mainmenu]="mainmenu | async" *ngIf="(mainmenu|async).mme_content_type == 'events'"></app-events>
<app-dossiers [mainmenu]="mainmenu | async" *ngIf="(mainmenu|async).mme_content_type == 'lists'"></app-dossiers>
<app-notes [mainmenu]="mainmenu | async" *ngIf="(mainmenu|async).mme_content_type == 'notes'"></app-notes>
<app-resources [mainmenu]="mainmenu | async" *ngIf="(mainmenu|async).mme_content_type == 'resources'"></app-resources>
<app-objectives [mainmenu]="mainmenu | async" *ngIf="(mainmenu|async).mme_content_type == 'objectives'"></app-objectives>
