.row { width: 320px; margin: 100px auto; }

.col { width: 320px; padding: 0; }

.form-group { padding: 24px 24px 0 24px; }

.btn { padding: 24px 24px 24px 24px; }

md-input-container { width: 100%; }

button { font-size: 12px;}

.error { border-radius: 3px; font-size: 80%; padding: 12px 0px 0px 24px; }
