<md-toolbar class="content-toolbar"><span>Profile information</span>
  <span class="app-fill-remaining-space"></span>
  <button routerLink="/account/profile" md-button>Back to profile</button>
</md-toolbar>

<div class="row">
  <div class="col">
    <form (ngSubmit)="changepassw()" [formGroup]="passwordForm">
        <div class="form-group">
            <label for="password">New password</label>
            <md-input [type]="typePassword" formControlName="password" id="password" class="form-control">
                <span style="cursor: pointer" md-suffix (click)="lightPassword()"><md-icon>{{lockPassword}}</md-icon></span>
            </md-input>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm password</label>
            <md-input-container class="form-control" id="confirm">
            <input md-input type="password" formControlName="confirm">
                <span style="cursor: pointer" *ngIf="passwordCtrl.dirty && 
                (passwordCtrl.hasError('required') || 
                passwordCtrl.hasError('minlength') || 
                passwordCtrl.hasError('validatorError') ||
                 (confirmCtrl.dirty && passwordForm.hasError('matchingError')))" md-suffix (mouseover)="lightIcon()" (mouseleave)="lightIcon()">
                    <md-icon>{{errorIcon}}</md-icon>
                </span>
            </md-input-container>
        </div>
        <div id="password-matching-error" *ngIf="confirmCtrl.dirty && passwordForm.hasError('matchingError') && !passwordCtrl.hasError('minlength')">
                <span class="hintText error" *ngIf="condErrorIcon == true">Your password does not match</span>
            </div>
            <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('required')">
                <span class="hintText error" *ngIf="condErrorIcon == true">Password is required</span>
            </div>
            <div *ngIf="passwordCtrl.dirty && passwordCtrl.hasError('minlength')">
                <span class="hintText error" *ngIf="condErrorIcon == true">Your password should be at 8 characters</span>
            </div>
            <div *ngIf="passwordCtrl.dirty && !passwordCtrl.hasError('minlength') && passwordCtrl.hasError('validatorError')">
                <span class="hintText error" *ngIf="condErrorIcon == true">Your password should contains min 1 lowercase, 1 uppercase, 1 number, 1 digit</span>
        </div>
        <div class="btn">
            <button md-button type="submit" [disabled]="!passwordForm.valid">Submit</button>
        </div>
    </form>
  </div>
</div>