md-sidenav {
  width: 240px;
}

.belowtoolbar { margin-top: 64px; }

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  min-width: 0;
  height: auto;
  padding: 0;
  border: none;
  margin: 0;

  background: none;
  box-shadow: none;
  cursor: pointer;
  filter: none;

  font-weight: normal;
  line-height: inherit;
  text-align: left;
  text-decoration: none;
  user-select: none;
}
