<md-toolbar color="primary" class="app-toolbar">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button> Variation
  <span class="app-fill-remaining-space"></span>
  <button (click)="onLogout()" md-button>Logout</button>
</md-toolbar>
<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" opened>
    <div class="app-belowtoolbar">
      <app-sidenav>
      </app-sidenav>
    </div>
  </md-sidenav>
  <div class="app-belowtoolbar">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-layout>