<div>
  <form [formGroup]="groupSelector">
    <label>Authorized groups</label>
    <div>
      <md-input type="text" placeholder="Filter groups" [value]="" formControlName="groupInput"></md-input>
      <select formControlName="groups">
        <option *ngIf="!groupAutocomplete" value="" disabled>Select a group</option>
        <option *ngIf="groupAutocomplete" value="" disabled>{{groups.length}} group(s) found</option>
        <option *ngFor="let g of groups" [value]="g.grp_id">{{g.org_name}} - {{g.grp_name}}</option>
      </select>
      <button md-raised-button md-primary (click)="addGroup($event)">Add</button>
    </div>
    <div class="group-list">
      <ul>
        <li *ngFor="let g of authorizedGroups; let i = index" (mouseenter)="groupdelete=i" (mouseleave)="groupdelete=-1">
          <div>{{g.org_name}} - {{g.grp_name}}
            <span [hidden]="groupdelete !== i" (click)="removeGroup(i)">Remove</span></div>
        </li>
      </ul>
    </div>
    <app-error-msg [msg]="errorMsg"></app-error-msg>
  </form>
</div>