.group-list li {
    width: 70%;
}

.group-list li div {
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.group-list li span {
    float:right;
    font-style: italic;
    font-size: 0.8em;
    padding-right: 5px;
    color: #f44336;
    cursor: pointer;
}

.group-list li:hover {
    background-color: whitesmoke;
}

.group-list li:hover span {
    display: block;
}