<md-card class="app-card-content">
  <md-card-title>Internal</md-card-title>
  <md-card-content>
    <md-nav-list *ngIf="organsInternalData">
      <md-list-item *ngFor="let organ of organsInternalData | async" routerLinkActive="active" [class.selected]="isSelected(organ)" routerLink="/admin/organs/{{organ.org_id}}">
        <h3 class="mod-sidenav" md-line> {{organ.org_name}} </h3>
        <p class="mod-sidenav" md-line> {{organ.org_description}} </p>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>

<md-card class="app-card-content">
  <md-card-title>External</md-card-title>
  <md-card-content>
    <md-nav-list *ngIf="organsExternalData">
      <md-list-item *ngFor="let organ of organsExternalData | async" routerLinkActive="active" [class.selected]="isSelected(organ)" routerLink="/admin/organs/{{organ.org_id}}">
        <h3 class="mod-sidenav" md-line> {{organ.org_name}} </h3>
        <p class="mod-sidenav" md-line> {{organ.org_description}} </p>
      </md-list-item>
    </md-nav-list>
  </md-card-content>
</md-card>