md-list-item {
  .mod-sidenav { color: #000; opacity: 0.87; }
  &.active {
    .mod-sidenav { color: md-color($accent); }
  }
  &.selected { 
    .md-list-item { background-color: #CFD8DC; } 
  }
}

md-card {
  &.active { color: #01579B; }
  &.selected { background-color: #CFD8DC; } 
}
